.header {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 0px 9px 15px -2px rgba(0, 0, 0, 0.75);
    position: relative;
    z-index: 2;
    background-color: white;

    .logo {
        cursor: pointer;
        width: 100px;

        img {
            width: 100%;
        }

        @media all and (max-width: 767px) {
            width: 13.03780964797914VW;
        }
    }

    h1 {
        font-family: $rockSaltFont;
        font-size: 45px;
        margin-left: 20px;

        @media all and (max-width: 767px) {
            font-size: 5.867014341590613VW;
        margin-left: 2.607561929595828VW;
        }
    }
}