.transition {
    transition: all 0.25s cubic-bezier(.53, .01, .35, 1.5);
}

.homepage {
    .insert-names {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 50px;
        .insert-name {
            position: relative;
            padding: 10px 0;

            label {
                @extend .transition;
                transform-origin: left center;
                color: $darkBlue;
                font-weight: 300;
                letter-spacing: 0.01em;
                font-size: 17px;
                box-sizing: border-box;
                padding: 10px 15px;
                display: block;
                position: absolute;
                top: calc(50% - 17px);
                left: 0;
                z-index: 2;
                pointer-events: none;
            }

            input[type="text"] {
                @extend .transition;
                background-color: none;
                border: 1px solid $darkBlue;
                font-size: 17px;
                width: 100%;
                display: block;
                box-sizing: border-box;
                padding: 10px 15px;
                border-radius: 60px;
                color: $darkBlue;
                letter-spacing: 0.01em;
                position: relative;
                z-index: 1;

                &:focus {
                    outline: none;
                    background: $darkBlue;
                    color: white;
                    margin-top: 30px;
                }

                &:valid {
                    margin-top: 30px;
                }

                &:focus~label {
                    transform: translate(0, -35px);
                }

                &:valid~label {
                    text-transform: uppercase;
                    font-style: italic;
                    transform: translate(5px, -35px) scale(0.8);
                }
            }
        }

        @media #{$mobileScreen} {
            width: 90%;
        }
    }

    .sign-container {
        display: flex;
        width: 50%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;

        .sign {
            width: 45%;
            box-shadow: 3px 7px 15px -4px rgba(0, 0, 0, 0.68);
            background-color: white;
            padding-top: 45%;
            position: relative;
            cursor: pointer;

            img {
                width: 90%;
                height: 90%;
                position: absolute;
                top: calc(50% - 45%);
                left: calc(50% - 45%);
            }

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: linear-gradient(135deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, rgba(0, 0, 0, 0.3) 100%);
                background-size: 400% 400%;
                background-repeat: no-repeat;
                max-width: 100vw;
                max-height: 100vh;
                visibility: hidden;
                transition: .5s all;
            }

            &:hover,
            &.selected {
                box-shadow: 3px 7px 14px 2px rgba(0, 0, 0, 0.8);
            }

            &:hover::after,
            &.selected::after {
                visibility: visible;
                background-position: 100% 100%;
            }
        }
    }
}