.main {
    height: 100vh;
    font-family: $poppinsFont;
    padding: 50px 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    .title {
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 100px;

        @media all and (max-width: 767px) {
            font-size: 5.867014341590613VW;
            margin-bottom: 13.03780964797914VW;
        }
    }
    
    .subtitle {
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        color: $darkBlue;

        @media all and (max-width: 767px) {
            font-size: 3.911342894393742VW;
        }
    }
}