$headerBg: #ffffff;
$mainBg: #EDE3E4;
$brightBlue: #27AAE1;
$darkBlue: #0B4F6C;
$sunsetOrange: #FE605D;

$poppinsFont: 'Poppins', sans-serif;
$rockSaltFont: 'Rock Salt', cursive;

$headerHeight: 120px;
$headerHeightMobile: 15vw;

$tabletScreen: 'all and (max-width: 1040px)';
$mobileScreen: 'all and (max-width: 767px)';